<template name="postEdit">
  <form class="main form page">
    <div class="form-group">
      <label for="url" class="control-label">URL</label>
      <div class="controls">
        <input type="text" name="url" id="url" value="{{url}}" placeholder="Your URL" class="formcontrol">
      </div>
    </div>
    <div class="form-group">
      <label for="title" class="control-label">Title</label>
      <div class="controls">
        <input type="text" class="form-control" id="title" name="title" placeholder="Name Your Post" value="{{title}}">
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary submit">
    <hr/>
    <a class="btn btn-danger delete" href="#">Delete Post</a>
  </form>
</template>
